HalloWCF/HalloWCF.Client/Connected Services/ServiceReference1/HalloWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HalloWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HalloWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFruits">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fruits" nillable="true" type="tns:Fruits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFruits" nillable="true" type="tns:ArrayOfFruits" />
  <xs:complexType name="Fruits">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnzahlKerne" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerfaultAm" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fruits" nillable="true" type="tns:Fruits" />
</xs:schema>